@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;

.container {
  width: 100%;
  max-width: 1495px;
  margin: 0 auto;
 
}

.imageWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: $border-radius-2xl;
  will-change: clip-path, opacity;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
